@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
body {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.logo img {
  height: 40px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ant-menu-horizontal {
  background-color: transparent;
  border-bottom: none;
  display: flex;
  align-items: center;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  padding: 0 20px;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.login-btn {
  margin-right: 15px;
  background-color: #000;
  border-radius: 20px;
  color: #fff;
}

.signup-button {
  background-color: #000;
  border-radius: 20px;
  color: #fff;
}

.signup-button:hover,
.login-btn:hover {
  background-color: #6F63FF;
  border-color: #6F63FF;
}

/* ---- */
.StockChart {
  @apply relative p-4 bg-white rounded-lg shadow-lg;
}

.Watchlist .card {
  @apply p-4 bg-white rounded-lg shadow-lg;
}

.Watchlist .item {
  @apply flex items-center justify-between mb-4 p-2 rounded-lg hover:bg-gray-100 transition duration-300 ease-in-out;
}

.Watchlist .item .logo {
  @apply w-8 h-8;
}

.Watchlist .item .name {
  @apply ml-2 text-lg font-semibold;
}

.Watchlist .item .price {
  @apply text-lg;
}

/* ------login */
.login-container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 50%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease, background-size 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #ff512f 0%, #dd2476 100%);
  background-size: 200% 200%;
  background-position: left center;

  &:hover {
    background-position: right center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(221, 36, 118, 0.5);
  }

  &:active {
    transform: translateY(2px);
    background-position: right center;
  }
}

/* auth-layout */
.auth-layout {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  .auth-background {
    height: 100%;
    width: 100%;
    background-image: url('https://img.freepik.com/free-vector/realistic-neon-lights-background_23-2148907367.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .auth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

/* register */
.register-container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 16px;
  width: 400px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {
    width: 50%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease, background-size 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    background-size: 200% 200%;
    background-position: left center; 
  
    &:hover {
      background-position: right center;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(37, 117, 252, 0.5);
    }
  
    &:active {
      transform: translateY(2px);
      background-position: right center;
    }
  }
  

